*build*/
Desktop*/
Debug*/
Release*/
Makefile
.cache/
.DS_Store
resources/basis_sets
resources/tonto
resources/hart
resources/*.tar.gz
.qmake*
source/version.h
CrystalExplorer
crystalexplorer.tar.*
.idea
Eigen
CMakeLists.txt.user
conanbuild*
conaninfo.txt
*.app
*restricted
*.cxp
*.cxs
*.cxc
*.FChk
*.log
*.gjf
stderr
stdout
stdin
.vscode
examples/
tags

# output files
*.owf.json
*.molden

# XTB calculation output files
*.coord
*.molden.input
*.xtbout.json
