[Desktop Entry]
Version=3.3
Type=Application
Name=Crystal Explorer
Comment=Crystal structure analysis using Hirshfeld surfaces
Exec=CrystalExplorer
Icon=crystalexplorer
