[Desktop Entry]
Type=Application
Name=CrystalExplorer
Comment=Crystal structure analysis using Hirshfeld surfaces
Exec=CrystalExplorer
Icon=crystalexplorer
Categories=Science;Chemistry;
